:root {  
	--dark-bg: rgb(29, 30, 32);
	--dark-accent: rgb(48, 48, 53);
	--dark-accent-2: rgba(205, 205, 205, 0.9);
	--dark-accent-3: rgba(131, 116, 231, 0.904);
	
	--light-bg: rgb(255, 255, 255);
	--light-accent: rgba(233, 233, 233, 0.8);
	--light-accent-2: rgb(41, 41, 41);
	--light-accent-3: rgb(98, 79, 223);

	--font-size: 18px;
	--font-size-code: 17px;
}

#title-block-header{
	font-size: 0;
}

a{
	color: var(--dark-accent-3);
}

code{
	color: var(--dark-accent-3);
}

li{
	color: var(--dark-accent-2);
	font-size: var(--font-size);
	margin-top: 10px;
	margin-bottom: 10px;
}

html {
	font-family: "Helvetica Neue", Arial, sans-serif;
	height: 100%;
}

body{
	margin: 0px;
	margin-left: 15%;
	margin-right: 15%;
	height: 100%;
    display: flex;
    flex-direction: column;
	background-color: var(--dark-bg);
}

.contents{
    flex-grow: 1;
}

@media (max-width : 480px) {
	body{
        margin-left: 5%;
        margin-right: 5%;
	}
	pre{
        overflow-x: scroll;
        word-wrap: break-word;
    }
}

h1,h2,h3,h4,h5{
	color: var(--dark-accent-2);
}

.home {
	font-weight: bold;
	display: inline-block;
	padding: 15px;
	color: var(--dark-accent-2);
	background-color: var(--dark-accent);
	text-decoration: none;
}

p{
	font-size: var(--font-size);
	line-height: 1.3;
	color: var(--dark-accent-2);
}

hr{
	border: 2px solid;
	color: var(--dark-accent);
}

blockquote{
	margin-left: 0;
	margin-right: 0;
	padding: 15px;
	border-left: 8px solid;
	color: var(--dark-accent-2);
	background-color: var(--dark-accent);
}

blockquote p{
	margin: 0px;
}


img, iframe{
	width: 100%;
}

footer{
    padding: 10px;
    line-height: 1.3;
    text-align: center;
    color: var(--dark-accent-2);
    background-color: var(--dark-accent);
}

pre code.hljs{
	display:block;
	overflow-x:auto;
	padding: 1em;
	font-size: var(--font-size-code);
}

code.hljs{
	padding:3px 5px;
}
.hljs{
	color:#abb2bf;
	background:#282c34;
}
.hljs-comment,.hljs-quote{
	color:#5c6370;
	font-style:italic;
}
.hljs-doctag,.hljs-formula,.hljs-keyword{color:#c678dd}
.hljs-deletion,.hljs-name,.hljs-section,.hljs-selector-tag,.hljs-subst{color:#e06c75}
.hljs-literal{color:#56b6c2}
.hljs-addition,.hljs-attribute,.hljs-meta .hljs-string,.hljs-regexp,.hljs-string{color:#98c379}
.hljs-attr,.hljs-number,.hljs-selector-attr,.hljs-selector-class,.hljs-selector-pseudo,.hljs-template-variable,.hljs-type,.hljs-variable{color:#d19a66}
.hljs-bullet,.hljs-link,.hljs-meta,.hljs-selector-id,.hljs-symbol,.hljs-title{color:#61aeee}
.hljs-built_in,.hljs-class .hljs-title,.hljs-title.class_{color:#e6c07b}
.hljs-emphasis{
	font-style:italic;
}
.hljs-strong{
	font-weight:700;
}
.hljs-link{
	text-decoration:underline;
}
 
.switch {
	font-weight: bold;
	display: inline-block;
	color: var(--dark-accent-2);
	background-color: var(--dark-accent);
	text-align: center;
	margin: 0px;
	padding-left: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.switch:hover {
	cursor: pointer;
}

.switch__input {  
	opacity: 0;  
	width: 0;  
	height: 0;  
}